doctype html
html
	head
		meta(charset="utf-8")
		title
			|FontMassive Pack Installer
		link(href="https://fonts.googleapis.com/css?family=Noto+Sans+SC" rel="stylesheet")
		link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")
		link(rel="icon" type="image/png" href="favicon.png")
		style
			include ../../docs/assets/css/main.css
	body
		div.main
			header
				|header
			main
				h1.text-center
					|FontMassive Pack Installer
				.box
					.left
						img(src="assets/images/mokup.png" alt="FontMassive Pack Installer")
					.right
						.widgets
							p.flex
								span
									img(src="https://img.shields.io/github/release/ProjectSoft-STUDIONIONS/FontMassivePackInstaller.svg?style=for-the-badge" alt="Release FontMassive Pack Installer")
								span
									img(src="https://img.shields.io/github/license/ProjectSoft-STUDIONIONS/FontMassivePackInstaller.svg?style=for-the-badge" alt="License FontMassive Pack Installer")
								span
									img(src="https://img.shields.io/github/downloads/ProjectSoft-STUDIONIONS/FontMassivePackInstaller/total.svg?label=%D0%A1%D0%9A%D0%90%D0%A7%D0%95%D0%9D%D0%9E&style=for-the-badge" alt="Downloads FontMassive Pack Installer")
								span
									img(src="https://img.shields.io/github/repo-size/ProjectSoft-STUDIONIONS/FontMassivePackInstaller.svg?style=for-the-badge" alt="Repository SIze FontMassive Pack Installer")
						p
							|FontMassive Pack - Набор программ для работы со шрифтами.
						p
							|Официальная страница FontMassive Pack - 
							=" "
							a(href="https://fontmassive.com/" target="_blank") https://fontmassive.com/
						ul.list-none
							li
								strong
									|FontMassive v3.0.21
								=" "
								| - менеджер шрифтов 
							li
								strong
									|FonTemp v1.7.1
								=" "
								| - временная установка шрифтов 
							li
								strong
									|FontDetect v3.6.1
								=" "
								| - распознавание шрифтов на изображении. 
							li
								strong
									|Circular v1.0
								=" "
								| - Выпрямление текста по окружности для последующей передачи в программу FontDetect 
							li
								strong
									|LinearText v1.0
								=" "
								| - Выпрямление текста по кривой для последующей передачи в программу FontDetect 
						p
							|Очень хороший набор программ. Особенно пользуюсь
							=" "
							strong
								|FontMassive
							=" "
							|и
							=" "
							strong
								|FonTemp
							|, т. к. большую часть работаю с шаблонами, где используются сторонние шрифты, которых нет в системе. 
							br
							|Устанавливать в систему абсолютно все шрифты глупо, да и багов схватишь много, из которых подвисания системы это самое меньшее зло. В этом и приходят на помощь
							=" "
							strong
								|FontMassive
							=" "
							|и
							=" "
							strong
								|FonTemp
							|.
						p
							|Один минус пакета - нет инсталляции.
							br
							|Я взял на себя смелость собрать всё в инсталляционный пакет, который можно скачать по ссылке с GitHub - 
							=" "
							a(href="https://github.com/ProjectSoft-STUDIONIONS/FontMassivePackInstaller" target="_blank")
								|https://github.com/ProjectSoft-STUDIONIONS/FontMassivePackInstaller
							|.
						p
							img(src="assets/images/application.png" alt="FontMassive Pack Installer")
						p
							|Все программы пакета имеют 32 и 64 битные версии. Инсталлятор распознаёт вашу систему и ставит именно ту битную версию, на каторгой работает ваша система.
						p
							|Там же, в репозитории, находится и сценарий для компиляции инсталляционного пакета, который каждый может пересобрать под свои нужды.
						p
							|Т. к. я слежу за выходом новых версий программ, то инсталляционный пакет будет обновляться по мере выхода обновлений или интерфейса инсталляционного пакета.
			footer
				|footer